{% extends 'app1/base.html' %}
{% block body %}
{% load static %}
    <body>
        {% comment %} <a class="nav-link" href="{% url 'inspect_here'%}"><i class="fa fa-th-list fa-fw mr-1"></i>Quality Inspect Here</a>{% url 'apply_leave'%} {% endcomment %}
        <div class="page-content">
            <div class="card radius-15">
                <div class="card-body">
                    <div class="card-title">
                        <center><h2 class="mb-0">Quality Certificate</h2></center>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="card radius-15">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            
                        </div>
                    </div>
                    <table class="table table-responsive-md mt-3">
                        <thead>
                        <tr>
                            <th>DATE</th>
                            <th>PRODUCT NAME</th>
                            <th>SKU NUMBER</th>
                            <th>NAME</th>
                            <th>iNSPECTION DATE</th>
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for insp in certificate %}
                            {% comment %} {% if invoices.cid_id == cmp1.cid %} {% endcomment %}
    
                                <tr>
                                    <th>{{ insp.qc_date }}</th>
                                    <td>{{ insp.qc_pname }}</td>
                                    <td>{{ insp.qc_sku }}</td>
                                    <td>{{ insp.qc_custumername }}</td>
                                    <td>{{ insp.qc_inspdate }}</td>
                                   <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-outline-info dropdown-toggle text-grey"
                                                    data-toggle="dropdown">Actions
                                            </button>
                                            <div class="dropdown-menu" style="background-color: white;">
                                                <a href="{% url 'qual_certi' insp.id  %}" class="dropdown-item"
                                                   style="color: black; font-size: 15px;"><i
                                                        class="bx bx-view"><b>VIEW</b></i></a>
                                                <a href="{% url 'edit_certificate_page' insp.id %}" class="dropdown-item"
                                                   style="color: black; font-size: 15px;"><i class="bx bx-edit"><b>EDIT</b></i></a>
                                                <a href="{% url 'delete_certificate' insp.id %}" class="dropdown-item"
                                                   style="color: black; font-size: 15px;"><i
                                                        class="bx bx-trash"><b>DELETE</b></i></a> 
                                                
                                            </div>
                                        </div>
                                    </td>
    
                                </tr>
                            {% comment %} {% endif %} {% endcomment %}
                        {% endfor %}
                        </tbody>
    
    
                    </table>
                </div>
        <script src="" async defer></script>
    </body>
{% endblock %}