{% extends 'app1/base.html' %}
{% block body %}
{% load static %}
    <body>
        {% comment %} <a class="nav-link" href="{% url 'inspect_here'%}"><i class="fa fa-th-list fa-fw mr-1"></i>Quality Inspect Here</a>{% url 'apply_leave'%} {% endcomment %}
        <div class="page-content">
            <div class="card radius-15">
                <div class="card-body">
                    <div class="card-title">
                        <center><h2 class="mb-0">Quality Inspections</h2></center>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="card radius-15">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <a class="" href="{% url 'inspect_here'%}">
                                <button id="myBtn" class="btn btn-outline-info w-75 text-grey">Add
                                    
                                </button>
                            </a>
                        </div>
                    </div>
                    <table class="table table-responsive-md mt-3">
                        <thead>
                        <tr>
                            <th>INSPECTION DATE</th>
                            <th>SKU NUMBER</th>
                            <th>PRODUCT NAME</th>
                            <th>INSPECTED</th>
                            <th>NONINSPECTED</th>
                            <th>INSPECTED BY</th>
                            <th>DEPARTMENT</th>
                            <th>QUALIFIED PRODUCTS</th>
                            <th>NONQUALIFIED PRODUCTS</th>
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for insp in inspections %}
                            {% comment %} {% if invoices.cid_id == cmp1.cid %} {% endcomment %}
    
                                <tr>
                                    <th>{{ insp.date }}</th>
                                    <td>{{ insp.sku }}</td>
                                    <td>{{ insp.p_name }}</td>
                                    <td>{{ insp.inspected_no }}</td>
                                    <td>{{ insp.noninspected_no }}</td>
                                    <td>{{ insp.inspected_by }}</td>
                                    <td>{{ insp.department }}</td>
                                    <td>{{ insp.qualified_products }}</td>
                                    <td>{{ insp.nonqualified_products }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-outline-info dropdown-toggle text-grey"
                                                    data-toggle="dropdown">Actions
                                            </button>
                                            <div class="dropdown-menu" style="background-color: white;">
                                                <a href="{% url 'edit_inspection_page' insp.id  %}" class="dropdown-item"
                                                   style="color: black; font-size: 15px;"><i class="bx bx-edit"><b>EDIT</b></i></a>
                                                <a href="{% url 'delete_inspection' insp.id  %}" class="dropdown-item"
                                                   style="color: black; font-size: 15px;"><i
                                                        class="bx bx-trash"><b>DELETE</b></i></a>
                                                
                                            </div>
                                        </div>
                                    </td>
    
                                </tr>
                            {% comment %} {% endif %} {% endcomment %}
                        {% endfor %}
                        </tbody>
    
    
                    </table>
                </div>
        <script src="" async defer></script>
    </body>
{% endblock %}