{% extends 'app1/base.html' %}

{% block body %}
    {% load static %}
    
    <div class="page-content">
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center><h3 class="mb-0">QUALITY CERTIFICATE</h3></center>
                </div>
                <hr/>
            </div>
        </div>
        {% comment %} <div class="card radius-15" style="background-color: #243e54;">
            <div class="card-body">
                
                    <button id="download" class="btn btn-outline-info text-grey"  onClick="return confirm('ARE YOU SURE WANT TO DOWNLOAD IT ')">Download
                        
                    </button>
                    
                
                <hr/>
                <div class="card radius-15 p-5"  style="margin-bottom: 50px;">
                    <div class="card-body" id="invoice">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="rectangle"
                                     style=" overflow: scroll; background-color:rgba(255, 255, 255, 0.905);;;;width: 100%;height:135vh;border: 3px white;padding: 50px;">
                                    <h2 class="text-dark text-center">QUALITY CERTIFICATE</h2>
                                     <div class="rectangle"
                                         style="background-image: linear-gradient(dodgerblue, black); width: 100%; height: 150px; margin-top: 20px;">
                                        <div class="img-container"
                                             style="width: 140px; height: 120px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 50%; background-color: white; transform: translate(23%, 90%);">
                                             <img src="{% static 'f.jpg' %}" class="w-100" alt="url" style="border-radius:70px;">
                                        </div>
                                        
                                    </div>
                                   
                                    <div class="col-md-12  ms-5 " style="">
                                    <table class="table text-dark mt-4 bx-border-radius-3" style=" border:3px solid rgba(0, 0, 0, 0.144);position: absolute;left: 0px;top: 70px;width: 500px;color: black;
                                    font-size: 13px; height:100px;">
                                        <tr >
                                            <th class=" text-dark">Date</th>
                                            <td class=" text-dark">:</td>
                                            <td class=" text-dark">{{ certificate.qc_date }}</td>
                                        </tr>
                                        <tr>
                                            <th class=" text-dark">Product Name</th>
                                            <td class=" text-dark">:</td>
                                            <td class=" text-dark">{{ certificate.qc_pname }}</td>
                                        </tr> 
                                        <tr>
                                            <th class=" text-dark">SKU Number</th>
                                            <td class=" text-dark">:</td>
                                            <td class=" text-dark">{{ certificate.qc_sku }}</td>
                                        </tr>
                                        <tr> 
                                            <th class=" text-dark">Custumer Name</th>
                                            <td class=" text-dark">:</td>
                                            <td class=" text-dark">{{ certificate.qc_custumername }}</td>
                                        </tr> 
                                        <tr> 
                                            <th class=" text-dark">Date Of Inspection</th>
                                            <td class=" text-dark">:</td>
                                            <td class=" text-dark">{{ certificate.qc_inspdate }}</td>
                                        </tr>
                                    </table> 
                                </div>  
                                    
                                <div class="col-md-12 "style="position: absolute;left: 40px;bottom: 100px; color:black; @media  only screen and (max-width:576px){position: absolute;left: 70px;bottom: 0px;}"> 
                                  <h6 class=" text-dark "><b>Materiel : Our/Your Reference</b></h6>  
                                  <p class=" fst-italic" style="font-style:oblique;">{{ certificate.qc_sku }} {{ certificate.qc_pname }} /</p>

                                  <p>This Product Was produced In Accordance With The Guidlines And Monitored In Every Manufacturing Stage.</p>
                                  <p class=" fs-6 mt-5" style="position: absolute;left: 230px;">****END****</p>
                                </div>
                                 
                                
                            
                            </div>
                            
                            </div>
                            
                            
                        
                        </div>
                    </div>
                    
                </div>
                
                
                    
                        
                       
                
            </div>
            <script>
                window.onload = function () {
                    document.getElementById("download")
                        .addEventListener("click", () => {
                            const invoice = this.document.getElementById("invoice");
                            console.log(invoice);
                            console.log(window);
                            var opt = {
                                margin: 1,
                                filename: 'Quality_Certificate.pdf',
                                image: { type: 'jpeg', quality: 0.98 },
                                html2canvas: { scale: 2 },
                                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                            };
                            html2pdf().from(invoice).set(opt).save();
                        })
                }

                function enable(){
                    var check = document.getElementById("check");
                    var btn = document.getElementById("btn");
                    if(check.checked){
                        btn.removeAttribute("disabled");

                    }else{
                        btn.disabled = "true";
                    }
                }
            </script>
            
        </div>
        
    </div> {% endcomment %}


<div class="card radius-15" style="background-color: #243e54;">
    <div class="card-body">
        <button id="download" class="btn btn-outline-info text-grey"  onClick="return confirm('ARE YOU SURE WANT TO DOWNLOAD IT ')">Download
                        
        </button>
        <hr/>
            <div class="card radius-15 p-5"  style="margin-bottom: 50px;">
                <div class="card-body" id="invoice">
                    <div class="row rectangle bg-white " style="height:130vh; width:100%; border-radius:20px;">
                        
                        <div class="col-md-12">
                            <h3 class="text-dark text-center py-3">QUALITY CERTIFICATE</h3>
                            <div class="rectangle" style="background-image: linear-gradient(dodgerblue, black); width: 100%; height: 130px; border-radius:20px;">
                                <div class="img-container" style="width: 130px; height: 100px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 50%; background-color: white; transform: translate(23%, 90%);">
                                             <img src="{% static 'f.jpg' %}" class="w-100" alt="url" style="border-radius:70px;">
                                </div>

                                
                            </div>
                            <div class="col-md-12  ms-5 " style="">
                                <table class="table text-dark mt-4 bx-border-radius-3 " style=" border:3px solid rgba(0, 0, 0, 0.144);position: absolute;left: 60px;top: 70px;width: 500px;color: black;
                                font-size: 13px; height:100px;">
                                    <tr >
                                        <th class=" text-dark">Date</th>
                                        <td class=" text-dark">:</td>
                                        <td class=" text-dark">{{ certificate.qc_date }}</td>
                                    </tr>
                                    <tr>
                                        <th class=" text-dark">Product Name</th>
                                        <td class=" text-dark">:</td>
                                        <td class=" text-dark">{{ certificate.qc_pname }}</td>
                                    </tr> 
                                    <tr>
                                        <th class=" text-dark">SKU Number</th>
                                        <td class=" text-dark">:</td>
                                        <td class=" text-dark">{{ certificate.qc_sku }}</td>
                                    </tr>
                                    <tr> 
                                        <th class=" text-dark">Custumer Name</th>
                                        <td class=" text-dark">:</td>
                                        <td class=" text-dark">{{ certificate.qc_custumername }}</td>
                                    </tr> 
                                    <tr> 
                                        <th class=" text-dark">Date Of Inspection</th>
                                        <td class=" text-dark">:</td>
                                        <td class=" text-dark">{{ certificate.qc_inspdate }}</td>
                                    </tr>
                                </table> 
                            </div>  

                            <div class="col-md-12 "style="position: absolute;left: 40px;bottom: 60px; color:black; @media  only screen and (max-width:576px){position: absolute;left: 70px;bottom: 0px;}"> 
                                  <h6 class=" text-dark "><b>Materiel : Our/Your Reference</b></h6>  
                                  <p class=" fst-italic" style="font-style:oblique;">{{ certificate.qc_sku }} {{ certificate.qc_pname }} /</p>

                                  <p>This Product Was produced In Accordance With The Guidlines And Monitored In Every Manufacturing Stage.</p>
                                  <p class=" fs-6 mt-5 text-center" style="">****END****</p>
                                </div>



                        </div>
                    </div>

                </div>
            </div>

            <script>
                window.onload = function () {
                    document.getElementById("download")
                        .addEventListener("click", () => {
                            const invoice = this.document.getElementById("invoice");
                            console.log(invoice);
                            console.log(window);
                            var opt = {
                                margin: 1,
                                filename: 'Quality_Certificate.pdf',
                                image: { type: 'jpeg', quality: 0.98 },
                                html2canvas: { scale: 2 },
                                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                            };
                            html2pdf().from(invoice).set(opt).save();
                        })
                }

                
            </script>

    </div>
</div>
   
   
{% endblock %}